.content2{
    height: 30rem;
    width: 30rem;
    position: absolute;
    left: 23rem;
    top: 5rem;
}
.hover{
    background-color: #c0e2ea;
    width: 15rem;
    border-radius: 10px;
    height: 3rem;
}
.card-1-1{
    height: 10rem;
    width: 12rem;
    background-color: #1898A8;

}